<ion-content [fullscreen]="true" class="onboarding-bg">
  <div class="onboarding-container">
    <div class="onboarding-welcome">
      <h2>Welcome, User!</h2>
      <p>To ensure your safety, please indicate any allergies you may have before signing in.</p>
    </div>
    <ion-card class="onboarding-card">
      <form>
        <ion-list lines="none">
          <ion-item *ngFor="let allergy of allergyOptions">
            <ion-checkbox slot="start" [(ngModel)]="allergy.checked" [name]="allergy.name"></ion-checkbox>
            <ion-label>{{ allergy.label }}</ion-label>
            <ion-input *ngIf="allergy.hasInput" placeholder="please specify" [(ngModel)]="allergy.value" [name]="allergy.name + 'Value'" style="margin-left: 8px;"></ion-input>
          </ion-item>
        </ion-list>
      </form>
    </ion-card>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="submitAllergies()">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
