
.cancelBtn {
  --color: #b6495d !important;
  color: #b6495d !important;
}

ion-icon {
  color: #E55E76 !important;
}

.buddy-modal-content h2,
.buddy-modal-content p {
  color: #000 !important;
}
:host {
  display: block;
  background: transparent;
}

ion-header ion-toolbar {
  --background: #AB7082 !important;
  --ion-color-base: #AB7082 !important;
  color: #fff !important;
}

ion-content{
  --background: #faeaee !important;
  color: #000 !important;
}

ion-item{
  --background: #edd8de !important;
  color: #000 !important;
  border-radius: 32px;
}

.buddy-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.4);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buddy-modal-content {
  background: #fff;
  border-radius: 32px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.2);
  width: 90vw;
  max-width: 400px;
  height: 45vh;
  max-height: 80vh;
  z-index: 1001;
  padding-bottom: 16px;
}

.deleteBtn{
    --background: #E55E76 !important;
    --color: #fff !important;
}

