<ion-toolbar class="dark-toolbar">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>

  <ion-title>AllerAid</ion-title>

  <ion-buttons slot="end">
    <ion-button fill="clear" size="small" (click)="openNotifications()">
      <img src="assets/icon/bell.png" alt="bell" style="width: 24px; height: 24px;" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

<ion-content class="ion-padding">
  <div class = "wrapper">
    <h2 class="page-title">Welcome, {{ userName }}!</h2>

    <div class="emergency-wrapper">
      <div class="circle-button" (click)="triggerEmergency()">
        <ion-icon name="notifications-outline"></ion-icon>
        <h2 class="emergency-title">EMERGENCY</h2>
        <p class="instruction-text">Press the button or shake</p>
      </div>
      <p class="bottom-text">Press the button above in case of emergency</p>
    </div>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Health Overview</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Allergens:</strong> Peanut, Dust</p>
        <p><strong>Medication:</strong> Cetirizine</p>
        <p><strong>Doctor Visits:</strong> 2 months ago</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>


