ion-toolbar {
  --background: #AB7082;
  --color: white;
}

ion-button [color="accent"] {
  --background: var(--ion-color-accent);
  --color: white;
}

.page-title {
  font-size: 24px;
  font-weight: bold;
  color: #9f5e66;
  margin: 20px 0;
}

ion-content {
  position: relative;
  min-height: 100vh;
  overflow-y: auto;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #faeaee;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 20px;
  z-index: 1;
}

.scrollable-content {
  height: auto;
  overflow-y: auto;
}

ion-card {
  background: #fff6f7;
  border-radius: 20px;
  box-shadow: 0 4px 16px rgba(229, 94, 118, 0.10);
  border: 1px solid #f5aab7;
  margin: 24px 0;
  padding: 12px 0 8px 0;
}

ion-card-header {
  background: transparent;
  border-bottom: 1px solid #fbe9eb;
  border-radius: 20px 20px 0 0;
  padding: 12px 20px 8px 20px;
}

ion-card-title {
  font-size: 20px;
  font-weight: 700;
  color: #AB7082;
;
  letter-spacing: 1px;
}

ion-card-content {
  padding: 12px 20px 16px 20px;
}

ion-card-content p {
  color: #333333;
  font-size: 14px;
  margin: 4px 0;
}

.emergency-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  text-align: center;
}

.circle-button {
  background-color: #e05668;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  border: 5px solid #fff6f7;
}

.circle-button ion-icon {
  font-size: 40px;
  margin-bottom: 8px;
}

.emergency-title {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 1px 1px black;
}

.instruction-text {
  font-size: 13px;
  color: #fbe9eb;
}

.bottom-text {
  font-size: 15px;
  font-weight: 500;
  color: #202020;
}