ion-toolbar {
  --background: #88292F;
  --color: white;
}


ion-button [color="accent"] {
  --background: var(--ion-color-accent);
  --color: white;
}

ion-card-content p {
  color: var(--ion-text-color-secondary);
  font-size: 14px;
  margin: 4px 0;
}

.alert-card {
  background-color: #ec747c;
  color:black;
}